---
import PageLayout from '../layouts/PageLayout.astro';
import { t } from '../lib/i18n';
---

<PageLayout title={t('nav.articles', 'en')}>
  <slot name="header">
    <h1>{t('nav.articles', 'en')}</h1>
  </slot>
  <p>{t('article.no_articles', 'en')}</p>
</PageLayout>
